.User-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
  
.circle {
    background-color: #1d2532;
    width: 600px;
    height: 300px;
    border-radius: 0 0 70% 70%;
    overflow:hidden;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
  
.login-logo {
    width: 150px;
    height: 150px;
    z-index: 2;
}

.logo-div{
    min-height: 40px;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.User-header-container{
    height: 90px;
    width: 100vw;
}
  
.login-user-component {
    width: 340px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 1;
    flex-direction: column;
    padding: 40px 0 5px 0;
}
  
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.div-inputbox {
    width: 300px;
    height: 50px;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
}

.admin{
    font-size: 20px;
    color: #1d2532;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}
  
.user-input {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #1d2532;
    box-sizing: border-box;
    font-weight: lighter;
    font-size: 14px;
}
  
.admin-submit-button {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #1d2532;
    color: #ffffff;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 20px;
    margin: 30px 0 10px 0;
}
  
.sub-button {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #1d2532;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 20px;
    border: solid 1px #1d2532;
}

.upload-button{
    width: 90px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #1d2532;
    margin-right: 10px;
}

.User-footer{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.likelion {
    font-size: 12px;
    font-weight: lighter;
    color: #1d2532;
}
  
.loginFail {
    font-size: 18px;
    font-weight: lighter;
    color: #1d2532;
    z-index: 10;
    padding: 50px 0;
}
  
/* 모바일 스타일 */
@media (max-width: 600px) {
    .User-container{
    }

    .User-header-container{
        min-height: 50px;
    }

    .login-logo {
        width: 120px;
        height: 120px;
        left: calc(50% - 60px);
        top: calc(50vh - 300px);
    }
  
    .user-component {
        padding: 45px 0 0 0 ;
    }
  
    .User-footer{
        height: 40px;
    }
  
    .submit-button,
    .sub-button {
        width: 100%; 
    }
}