.Presentation-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.paran-logo{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 30px;
    z-index: 2;
}

.header-container{
    min-height: 100px;
    width: 100vw;
    background-color: #1d2532;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meeting-name{
    color: #FFF;
    font-size: 25px;
    margin-left: 20px;
}

.agenda-title{
    color: #FFF;
    font-size: 25px;
    margin-right: 30px;
}

.QRcode-container{
    width: 450px;
    height: 450px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 80px 0 30px 0;
}

.QRcode-message{
    font-size: 25px;
    text-align: center;
    color: #1d2532;
}

.overview-container{
    width: auto;
    min-height: 110px;
    padding-top: 80px;
}

.overview-message{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #1d2532;
}

.agenda-list-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 80px;
}

.agendaAdmin-card{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agendaAdmin-title{
    font-size: 23px;
    text-align: center;
    font-weight: lighter;
    color: #1d2532;
    margin: 10px 0 0 0;
}

.agendaAdmin-id{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #1d2532;
    margin: 40px 0 0 0;
}

.member-name {
    font-size: 16px;
    margin-right: 3px;
}

.member-name.approve {
    color: #008000;
}

.member-name.oppose {
    color: #B30000;
}

.member-name.abstain {
    color: #F1C62E;
}

.overview-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin: 0px 80px;
    justify-content: space-evenly;
    align-items: center;
}

.overview-card {
    max-width: 510px;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    display: inline-block;
}

.collegename-span{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vote-counts{
    font-size: 15px;
    font-weight: lighter;
    text-align: right;
}

.total-div{
    max-width: 510px;
    width: 100%;
    height: fit-content;
    padding: 15px 20px;
    text-align: center;
}

.total-span {
    font-size: 30px;
    margin-right: 3px;
    font-weight: bold;
}

.total-span.approve{
    color: #008000;
}

.total-span.oppose {
    color: #B30000;
}

.total-span.abstain {
    color: #F1C62E;
}

.pre-back-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}